//             __ _     __              __ _                       _
//            / _(_)   / /             / _(_)                     (_)
//  _ __ ___ | |_ _   / /__ ___  _ __ | |_ _  __ _   _ __ __ _ ___ _
// | '__/ _ \|  _| | / / __/ _ \| '_ \|  _| |/ _` | | '__/ _` / __| |
// | | | (_) | | | |/ / (_| (_) | | | | | | | (_| |_| | | (_| \__ \ |
// |_|  \___/|_| |_/_/ \___\___/|_| |_|_| |_|\__, (_)_|  \__,_|___/_|
//                                            __/ |
//                                           |___/

configuration {
modi: "window,run,ssh,drun";
font: "Cascadia Code NF 10";
show-icons: true;
terminal: "kitty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@import "rosepine"
