window 
{
    font-family: 'CaskaydiaCove Nerd Font Mono';
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(38, 35, 53, 0.95);
    border-radius: 10px;
}

#input
{
    margin: 5px;
    border: none;
    color: #e0d9f5;
    background-color: rgba(46, 42, 62, 0.95);
}

#inner-box
{
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box
{
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll
{
    margin: 0px;
    border: none;
}

#text
{
    margin: 5px;
    border: none;
    color: #848bbd;
}

#entry
{
    border: none;
}

#entry:focus
{
    border: none;
}

#entry:selected
{
    background-color: rgba(46, 42, 62, 0.95);
    border-radius: 5px;
    border: none;
}
