window 
{
    font-family: 'CaskaydiaCove Nerd Font Mono';
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.9);
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 10px;
}

#input
{
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: rgba(60, 56, 54, 0.95);
}

#inner-box
{
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box
{
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll
{
    margin: 0px;
    border: none;
}

#text
{
    margin: 5px;
    border: none;
    color: #a89984;
}

#entry
{
    border: none;
}

#entry:focus
{
    border: none;
}

#entry:selected
{
    background-color: rgba(60, 56, 54, 0.95);
    border-radius: 5px;
    border: none;
}
