#    _                   _            
#   (_)                 | |           
#    _ _ __  _ __  _   _| |_ _ __ ___ 
#   | | '_ \| '_ \| | | | __| '__/ __|
#  _| | | | | |_) | |_| | |_| | | (__ 
# (_)_|_| |_| .__/ \__,_|\__|_|  \___|
#           | |                       
#           |_|                                     

# Coloration Settings:
set colored-stats On
set colored-completion-prefix On

# Completion Settings:
set show-all-if-ambiguous On
set completion-ignore-case On

# Misc Settings: 
set bell-style none
set editing-mode vi
# set keymap vi-command
# set show-mode-in-prompt on 
# set vi-ins-mode-string "+"
# set vi-cmd-mode-string ":"
